$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #c1f0ce;
$secondary: #479071;
$third : #206346;

// Text Color
$text-base: #167f2c;
$text-secondary: #29943f;
$text-title: #277938;

// layouts
$small : 576px;
$medium : 768px;
$large : 992px;

