@import "variable";
$base-height: 760px;
header {
    background: url("/img/landing/background-landing-roket-umkm.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 760px;
    @media screen and (max-width: $medium) {
        & {
            height: $base-height - 60px;
        }
    }
}
.jumbotron {
    background: none;
    color: $text-secondary;
    .display-3 {
        color: $text-title;
        margin-bottom: 0;
    }
    @media screen and (max-width: $medium) {
        h3 {
            font-size: 1.3rem;
        }
        .lead{
            font-size: 1rem;
        }
    }
}
.jumbotron-custom {
    padding-top: 210px;
    padding-left: 120px;
    @media screen and (max-width: $medium) {
        & {
            text-align: center;
            padding: 225px 16px 0;
        }
    }
}
#define-section {
    min-height: $base-height - 300px;
    width: 100%;
    padding-top: 100px;
    @media screen and (max-width: $medium) {
        & {
            min-height: $base-height - 400px;
            padding-top: 32px;
        }
        p{
            font-size: 1rem;
        }
    }
}
#our-features {
    min-height: $base-height - 300px;
    width: 100%;
    padding-top: 75px;
    background-color: $secondary;
    .card {
        height: $base-height - 530px;
        padding: 8px;
        color: #7d7e87;
        @media screen and (max-width: $medium) {
            & {
                font-size: 1em;
            }
        }
    }
    @media screen and (max-width: $medium) {
        & {
            padding-top: 32px;
        }
    }
}
